# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Quy định cho tệp TypeScript
[*.ts]
indent_style = space
indent_size = 2

[*.tsx]
indent_style = space
indent_size = 2

# Quy định cho tệp JSON
[*.json]
indent_style = space
indent_size = 2
